#app-sidebar div.content-wrapper .title {
	background-color: #f5f5f5;
	border-bottom: 1px solid rgba(0, 0, 0, 0.24);
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	min-height: 24px;
	padding: 16px 15px 13px;
	text-shadow: 0 1px 0 white;
	word-wrap: break-word;
}

#app-content div.content-wrapper {
	overflow-x: auto;
}

#app-sidebar div.content-wrapper .body {
	bottom: 65px;
	left: 0;
	overflow: auto;
	right: 0;
	top: 15px;
}

div.right,
td.right,
span.right {
	text-align: right;
}

div.center,
td.center,
span.center {
	text-align: center;
}

#app-sidebar {
	z-index: 1000 !important;
}

#app-sidebar div.content-wrapper div.footer {
	border-top: 1px solid #D3D3D3;
	bottom: 0;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	height: 65px;
	left: 0;
	position: absolute;
	right: 0;
}

#app-sidebar div.content-wrapper .body .bodyDetails {
	border-bottom: 1px dotted;
	/* height: 46px; */
	padding: 9px 20px 9px 15px;
	position: relative;
	text-shadow: 0 1px 0 white;
	border-top: none;
	margin-bottom: 0px;
}

.bodyDetails > .unique-id,
.bodyDetails > .group,
.bodyDetails > .parent-group,
.bodyDetails > .type,
.bodyDetails > .widget-type,
.bodyDetails > .device {
	display: block;
}

#content .icon {
	height: 20px;
	width: 20px;
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
}

#app-sidebar div.content-wrapper div.footer .icon {
	position: absolute;
	bottom: 7px;
	left: 8px;
}

#app-sidebar div.content-wrapper div.footer .icon-loading {
	position: initial;
}

#app-sidebar div.content-wrapper div.footer .icon-save .icon {
	background-image: url('../img/save.svg');
	background-size: 100% 100%;
	left: 30px;
}

.icon.icon-reset-white {
	background-image: url('../img/reset-white.svg');
	background-size: 100% 100%;
	left: 30px;
}

.icon.icon-reset {
	background-image: url('../img/reset.svg');
	background-size: 100% 100%;
	left: 30px;
}

.icon.icon-wipeout {
	background-image: url('../img/icon-erase.svg');
}

.icon.icon-wipeout:hover,
.icon.icon-wipeout:focus {
	background-image: url('../img/icon-erase-hover.svg');
}

.icon.icon-datalist {
	background-image: url('/core/img/actions/toggle-filelist.svg');
	background-size: 100% 100%;
	left: 30px;
}

.icon.icon-datachart {
	background-image: url('../img/graph.svg');
	background-size: 100% 100%;
	left: 30px;
}

#app-sidebar div.content-wrapper div.footer .icon-close .icon {
	left: auto;
	right: 8px;
}

#app-content-wrapper .widget-wrapper {
	/* margin-top: 44px; */
	margin: 5px;
}

#app-navigation li#showDashboard a.menuItem {
	display: inline;
}

#app-navigation > ul#navigation-list ul#dashboard-actionbar {
	display: inline;
}

#app-navigation > ul#navigation-list ul#dashboard-actionbar li a {
	margin: 0;
	padding: 0;
	height: 44px;
}

#app-navigation #dashboard-actionbar {
	float: right;
}

table th, table td {
	border-bottom: 1px solid #eee;
	text-align: left;
	font-weight: normal;
}

.th-header {
	display: block;
	padding: 15px;
	height: 50px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	vertical-align: middle;
}

.td-data {
	padding: 15px;
}


.dashboard-widget .section {
	/*
	text-align: right;
	padding-top: 10px;
	margin-bottom: 10px;
	background-color: #eee;
	*/
	/*background-color: lightgrey;*/
}

.widget-type-realTimeChart {
	/*min-height: 350px;*/
}

.widget.icon-loading {
	height: -webkit-fill-available;
	height: inherit;
}

.dashboard-widget .section.list,
.dashboard-widget .section.chart {
}

.dashboard-widget .section h3 {
	margin-bottom: 0;
}

h2.widget-header a span.icon {
	height: 0px !important;
	width: 0px !important;
	vertical-align: sub !important;
}

.column{
	/*margin-right:.5%;
	margin-left: .5%;*/
	background:#fff;
	float:left;
}

@media only screen and (min-width: 320px) {
	.column {
		width:100%;
	}

}

@media only screen and (min-width: 480px) {
	.column {
		width:100%;
	}

}

@media only screen and (min-width: 768px) {
	.column {
		width:100%;
	}

}

@media only screen and (min-width: 1024px) {
	.column {
		width:49%;
	}
}

@media only screen and (min-width: 1200px) {
	.column {
		width:31%;
	}
}

.column .dragbox {
	margin: 2px;
	position: relative;
	height: -webkit-fill-available;
	height: inherit;
	background-color: lightgrey;
	overflow: hidden;
}
.column .dragbox h2{
	margin:0;
	font-size:12px;
	color:#fff;
	border-bottom:1px solid #eee;
	cursor:move;
	padding:5px;
}

.dragbox-content{
	background:#fff;
	/* min-height:100px; */
	margin:5px;
	font-family:'Lucida Grande', Verdana; font-size:0.8em; line-height:1.5em;
}
.column  .placeholder{
	background: #eee;
	border:1px dashed #946553;
}

.opIcons
{
	float:right;
}

.maxmin
{
	background-position:-26px 1px;
}

.delete
{
	background-position:-269px center;
	padding-top:1px;
}


@keyframes pulse {
	0% {
		transform: scale(1, 1);
	}

	50% {
		transform: scale(1.4, 1.4);
	}

	100% {
		transform: scale(1, 1);
	}
}

.pulse {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: red;
	cursor: pointer;
	/* box-shadow: 0 0 0 rgba(204,169,44, 0.4); */
	animation: pulse 2s infinite;
}

.device-data-type-tag {
    background-color: rgba(240, 240, 240, .9);
    border-radius: 3px;
	margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
	display: table;
}
